.header__container {
  @extend %flex;
  @extend %al-items-center;
  padding-top: 1.8rem;
  padding-bottom: 2.2rem;
  background: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  &.theme-light {
    background: url("../images/theme-light/bg.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
  }
  @include media-desktop {
    background-size: cover;
    &.theme-light {
      background: url("../images/theme-light/bg.jpg");
      background-size: cover;
    }
  }

  @include media-tablet {
    padding-inline: 6.1rem;
    background: url("../images/bg-mb.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    &.theme-light {
      background: url("../images/theme-light/bg-mb.jpg");
      background-repeat: no-repeat;
      background-position: center 0;
    }
  }
  @include media-mobile {
    padding-inline: 1rem;
  }
}
