.hero__container {
  background: url("../images/bg.jpg");
  background-position: center -94px;
  background-repeat: no-repeat;
  padding-top: 15rem;
  padding-left: 8rem;
  padding-bottom: 33rem;
  &.theme-light {
    background: url("../images/theme-light/bg.jpg");
    background-repeat: no-repeat;
    background-position: center -94px;
  }
  @include media-desktop {
    background-size: cover;
    &.theme-light {
      background: url("../images/theme-light/bg.jpg");
      background-size: cover;
      background-position: center -94px;
    }
  }
  @include media-tablet {
    padding-top: 7.1rem;
    padding-bottom: 15.1rem;
    padding-left: 6rem;
    background-image: url("../images/bg-mb.jpg");
    &.theme-light {
      background: url("../images/theme-light/bg-mb.jpg");
      background-position: center -94px;
    }
  }
  @include media-mobile {
    padding-inline: 1rem;
    padding-bottom: 10rem;
  }
}

.hero-content {
  max-width: 500px;
  @include media-tablet {
    max-width: 390px;
  }
}

.hero__text {
  margin: 1.5rem 0 0;
  padding: 0 3rem 0 0;
  line-height: 4rem;
  @include media-tablet {
    padding-top: 0.6rem;
    padding-right: 0;
    line-height: 2.4rem;
  }
}

.herro__button {
  margin: 2.5rem 0 0;
  .theme-light {
    background: $light-color;
    &:hover {
      background: $black-color;
    }
  }
  @include media-tablet {
    margin-top: 6rem;
    & .button {
      padding: 0.7rem 7.3rem;
    }
  }
}
