.services {
  @extend %flex-wrap;
  @media screen and (max-width: 1024px) {
    gap: 50px;
  }
  @media screen and (max-width: 964px) {
    justify-content: center;
  }
}
.service {
  min-width: 450px;
  @extend %flex;
  @extend %flex-column;
  @extend %al-items-center;
  @extend %js-content-center;
  padding: 4.3rem 0 3.6rem;
  border: 3px solid $main-color;
  @include media-tablet {
    min-width: 420px;
    padding-top: 4rem;
  }
  @include media-mobile {
    min-width: 300px;
  }
}
.service__price {
  margin: 2rem 0;
  color: $main-color;
  @include font($fs-price, 4.8rem, 700);
  font-family: $ff-second;
  &.theme-light {
    color: $black-color;
  }
  @include media-tablet {
    margin: 1.8rem 0 2.1rem;
  }
}

.service__proposition {
  @include font($fs-text, 3.6rem, 400);
}

.service__button {
  margin-top: 4rem;
  & .button {
    padding: 0.8rem 3.9rem;
  }
  @include media-tablet {
    margin-bottom: 0.4rem;
  }
}
